body {
	background: black;
	font-family: "Handlee", cursive;
}

.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
	margin-top: 15%;
}
.postcard-header {
	display: flex;
	padding: 10px;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 100%;
	margin: 0;
	align-self: center;
}
.postcard-body {
	display: flex;
	font-weight: 600;
}
.first-child {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 10px;
}
p {
	font-size: 15px;
}
input {
	border: none;
	border-bottom: 1px solid grey;
	color: grey;
	font-size: 14px;
	font-family: "Handlee", cursive;
}
.postcard-footer {
	text-align: center;
}
button {
	margin-top: 5px;
	box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
	padding: 2px 3px 2px 3px;
	background-color: darkgray;
	font-family: "Handlee", cursive;
	color: black;
	font-weight: 600;
	font-size: large;
}
/* mi codigo */
.prueba {
	color: aqua;
}
button:hover {
	background-color: red;
	color: aliceblue;
}
input:hover {
	background-color: green;
	color: aliceblue;
}
p:first-child {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	color: rgb(0, 128, 255);
}
p {
	color: rgb(10 0 255);
}
h1 {
	color: rgb(255, 0, 0);
}
